<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Header Fragment -->
<header th:fragment="header" class="header">
	<div class="header-inner">
		<a href="/videos" class="logo">Home Server</a>

		<nav class="nav">

			<!-- スマホ用ハンバーガーボタン -->
			<button type="button" class="hamburger-button" onclick="toggleMobileMenu()">
				☰
			</button>


			<div class="mobile-menu">

				<a href="/videos">
					Videos
				</a>


				<!-- 検索 -->
				<form class="header-search" action="/videos" method="get">

					<input type="text" name="keyword" placeholder="動画を検索..." th:value="${keyword}">

					<button type="submit">
						🔍
					</button>

				</form>


				<!-- 新しいフォルダ -->
				<a href="#" onclick="openFolderModal(); return false;"> 
					📁 新しいフォルダ 
				</a>


					<!-- アップロード -->
					<a th:href="@{/videos/upload(
			            folderId=${currentFolder != null ? currentFolder.id : null}
			        )}">
						Upload
					</a>

						<!-- ログアウト -->
						<form th:action="@{/logout}" method="post" class="logout-form">
							<button type="submit" class="logout-link">Logout</button>
						</form>

				</div>

		</nav>


		<script>

			function toggleMobileMenu() {

				const menu =
					document.querySelector(".mobile-menu");

				menu.classList.toggle("show");

			}

		</script>
</header>

</html>